<a href="https://colab.research.google.com/github/roop01/python-programming-practices/blob/main/01_python_coding_problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Coding Problems Part 1**

**Problem 1**

Write a python program to find and display the product of three positive integer values based on the rule mentioned below:

--> It should display the product of the three values except when one of the integer value is 7.  In that case, 7 should not be included in the product and the values to its left also should not be included.

--> If there is only one value to be considered, display that value itself. If no values can be included in the product, display -1.

Note: Assume that if 7 is one of the positive integer values, then it will occur only once. Refer the sample I/O given below.

In [ ]:
def find_product(num1,num2,num3):
    product=0
    if num1==7:
        product=num2*num3
    elif num2==7:
        product=num3
    elif num3==7:
        product=-1
    else:
        product=num1*num2*num3

    return product

product=find_product(7,6,2)
print(product)

12

In [ ]:
def product_of_nums(n1, n2, n3):
  num=[n1,n2,n3]
  product=1
  for i in num:
    product = i*product
    if i==7:
      product=1
  if product==1:
    product=-1
  return product

product=product_of_nums(1,7,9)
print(product)

9

**Problem 2**

You have x no. of 5 rupee coins and y no. of 1 rupee coins. You want to purchase an item for amount z. The shopkeeper wants you to provide exact change. You want to pay using minimum number of coins. How many 5 rupee coins and 1 rupee coins will you use? If exact change is not possible then display -1.

In [2]:
def pay_amount(x,y,z):
    five_n=0
    one_n=0
    while(z//5!=0 and x!=0):
        z=z-5
        x=x-1
        five_n+=1
    if (z>y):
        return -1
    else:
        one_n=z
    return five_n,one_n

print(pay_amount(24,22,126))

(24, 6)

**Problem 3**

In [ ]:
def find_new_salary(current_salary,job_level):
    level=[0,0,0,15,7,5]
    new_salary=current_salary+(current_salary*(level[job_level]/100))
    return new_salary

# provide different values for current_salary and job_level and test yor program
new_salary=find_new_salary(15000,3)
print(new_salary)

17250.0

**Problem 4**

In [ ]:
def convert_currency(amount_needed_inr,current_currency_name):

    current_currency_amount=0
    country_currency=0

    #currency=[['Euro',0.01417],['British Pound',0.0100],['Australian Dollar',0.02140],['Canadian Dollar',0.02027]]
    currency_details = {'Euro': 0.01417,'British Pound': 0.0100,'Australian Dollar': 0.02140,'Canadian Dollar': 0.02027}

    for i in currency_details:
        if(i == current_currency_name):
            country_currency=currency_details[i]
    if(country_currency>0):
        current_currency_amount=amount_needed_inr*country_currency
    else:
        current_currency_amount=-1
    # current_currency_amount=amount_needed_inr*

    return current_currency_amount


#Provide different values for amount_needed_inr,current_currency_name and test your program
currency_needed=convert_currency(3500,"British Pound")
if(currency_needed!= -1):
    print(currency_needed )
else:
    print("Invalid currency name")

35.0

**Problem 5**

FoodCorner home delivers vegetarian and non-vegetarian combos to its customer based on order.

A vegetarian combo costs Rs.120 per plate and a non-vegetarian combo costs Rs.150 per plate. Their non-veg combo is really famous that they get more orders for their non-vegetarian combo than the vegetarian combo.

Apart from the cost per plate of food, customers are also charged for home delivery based on the distance in kms from the restaurant to the delivery point. The delivery charges are as mentioned below:


    Distance in kms                Delivery charge in Rs per km                 
    For first 3kms                             0
    For next 3kms                              3
    For the remaining                          6

Given the type of food, quantity (no. of plates) and the distance in kms from the restaurant to the delivery point, write a python program to calculate the final bill amount to be paid by a customer.

The below information must be used to check the validity of the data provided by the customer:

    Type of food must be ‘V’ for vegetarian and ‘N’ for non-vegetarian.
    Distance in kms must be greater than 0.
    Quantity ordered should be minimum 1.
    If any of the input is invalid, the bill amount should be considered as -1.

In [ ]:
def calculate_bill(food_type, quantity, distance):
    non_veg = 150
    veg = 120
    bill_amt=0
    delivery = 0
    if (food_type == 'V' or food_type == 'N') and distance >0 and quantity >1:
        if food_type == 'V':
            bill_amt = veg*quantity
        else:
            bill_amt = non_veg*quantity
    else:
        return -1

    if distance <=3:
        delivery = 0
    elif distance <=6:
        delivery = (distance - 3)*3
    else:
        delivery = 9 + (distance - 6)*6

    bill_amt = bill_amt + delivery*distance
    return bill_amt

bill_amt=calculate_bill('V',2,4)
print(bill_amt)

252

**Problem 6**

The Metro Bank provides various types of loans such as car loans, business loans and house loans to its account holders. Write a python program to implement the following requirements:

1. Initialize the following variables with appropriate input values:account_number, account_balance, salary, loan_type, loan_amount_expected and customer_emi_expected.

2. The account number should be of 4 digits and its first digit should be 1.

3. The customer should have a minimum balance of Rupees 1 Lakh in the account.

4. If the above rules are valid, determine the eligible loan amount and the EMI that the bank can provide to its customers based on their salary and the loan type they expect to avail.

5. The bank would provide the loan, only if the loan amount and the number of EMI’s requested by the customer is less than or equal to the loan amount and the number of EMI’s decided by the bank respectively.

6. Display appropriate error messages for all invalid data. If all the business rules are satisfied ,then display account number, eligible and requested loan amount and EMI’s.

Test your code by providing different values for the input variables.

    Salary           Loan type           Eligible loan amount           No. of EMI’s required to repay

    > 25000            Car                   500000                              36

    > 50000            House                 6000000                             60

    > 75000          Business                7500000                             84

In [ ]:
def calculate_loan(account_number, account_balance, salary, loan_type, loan_amount_expected, customer_emi_expected):
    if len(str(account_number))==4 and str(account_number)[0] == '1':
        if account_balance >= 100000:
            if salary > 75000 and loan_type == 'Business':
                eligible_loan_amount=7500000
                bank_emi_expected=84
                if loan_amount_expected <= eligible_loan_amount and customer_emi_expected <= bank_emi_expected:
                    print(f"Account : {account_number} can avail loan of : {eligible_loan_amount} for emi of : {bank_emi_expected}")
                else:
                    print("Customer is not eligible for loan")
            elif salary > 50000 and loan_type == 'House':
                eligible_loan_amount=6000000
                bank_emi_expected=60
                if loan_amount_expected <= 6000000 and customer_emi_expected <= 60:
                    print(f"Account : {account_number} can avail loan of : {eligible_loan_amount} for emi of : {bank_emi_expected}")
                else:
                    print("Customer is not eligible for loan")
            elif salary > 25000 and loan_type == 'Car':
                eligible_loan_amount=500000
                bank_emi_expected=36
                if loan_amount_expected <= 500000 and customer_emi_expected <= 36:
                    print(f"Account : {account_number} can avail loan of : {eligible_loan_amount} for emi of : {bank_emi_expected}")
                else:
                    print("Customer is not eligible for loan")
            else:
                print("Invalid loan type or salary")
        else:
            print("Invalid account balance")
    else:
        print("Invalid account number")
    return


calculate_loan(1001,400000,250000,"Car",300000,30)

Account : 1001 can avail loan of : 500000 for emi of : 36

**Problem 7**

ARS Gems Store sells different varieties of gems to its customers.
Write a Python program to calculate the bill amount to be paid by a customer based on the list of gems and quantity purchased.

   1.  Any purchase with a total bill amount above Rs.30000 is entitled for 5% discount.
   2.  If any gem required by the customer is not available in the store, then consider total bill amount to be -1.
   3.  Assume that quantity required by the customer for any gem will always be greater than 0.

Perform case-sensitive comparison wherever applicable.

In [ ]:
def gem_bill(gems_list, gems_price_list, gems_purchase_list, purchase_quantity_list):

    bill_amt = 0
    for i in purchase_quantity_list:
        if i <=0:
            return -1

    for gem in gems_purchase_list:
        if gem in gems_list:
            bill_amt = bill_amt + gems_price_list[gems_list.index(gem)]*purchase_quantity_list[gems_purchase_list.index(gem)]
        else:
            return -1

    if bill_amt > 30000:
        bill_amt = bill_amt - (bill_amt*0.05)
    return bill_amt


gems_list=["Emerald","Ivory","Jasper","Ruby","Garnet"]

price_list=[1760,2119,1599,3920,3999]
reqd_gems=["Ivory","Emerald","Garnet"]
#reqd_gems=["Ivory","Gold","Garnet"]
reqd_quantity=[1,1,1]
bill = gem_bill(gems_list,price_list,reqd_gems,reqd_quantity)
if bill > 0:
    print("Bill Amount: ", bill)
else:
    print("Gem not available")

Bill Amount:  7878

**Problem 8:**

Write a python function to check whether three given numbers can form the sides of a triangle.
Three numbers can be the sides of a triangle if none of the numbers are greater than or equal to the sum of the other two numbers.

In [ ]:
def form_triangel(n1,n2,n3):
    if n1+n2>n3 and n1+n3>n2 and n2+n3>n1:
        return True
    else:
        return False

print(form_triangel(1,2,3))

**Problem 9**

In [ ]:
counter1=0
counter2=5
temp=counter2
while(counter1 < 5):
    star=""
    while(counter2>0):
        star=star+ "*"
        counter2-=1
    print(star)
    counter1 +=1
    temp-=1
    counter2=temp

*****
****
***
**
*

**Problem 9**

Write a python program to solve a classic ancient Chinese puzzle.

We count 35 heads and 94 legs among the chickens and rabbits in a farm. How many rabbits and how many chickens do we have?

    Sample Input                          Expected Output

    heads-150 legs-400                        100 50

    heads-3 legs-11                        No solution

    heads-3 legs-12                            0 3

    heads-5 legs-10                            5 0

In [ ]:
def solve(heads,legs):
    error_msg="No solution"
    chicken_count=0
    rabbit_count=0

    legs_half=legs/2
    rabbit_count_test=legs_half-heads
    chicken_count_test=heads-rabbit_count_test
    if((rabbit_count_test*4+chicken_count_test*2==legs) and (rabbit_count_test>=0 and chicken_count_test>=0)):
        rabbit_count=rabbit_count_test
        chicken_count=chicken_count_test
        print(int(chicken_count),int(rabbit_count))
    else:
        print(error_msg)

solve(23,67)

12 10

**Problem 10:**

Write a python program which finds the maximum number from num1 to num2 (num2 inclusive) based on the following rules.
 1. Always num1 should be less than num2
 2. Consider each number from num1 to num2 (num2 inclusive). Populate the number into a list, if the below conditions are satisfied

      a. Sum of the digits of the number is a multiple of 3

      b. Number has only two digits

      c. Number is a multiple of 5

3. Display the maximum element from the list
In case of any invalid data or if the list is empty, display -1.

In [1]:
def find_max(n1,n2):
    if n1>n2:
        return -1
    l1= []
    for i in range(n1,n2+1):
        if (len(str(i))==2) and (i%5==0) and (sum([int(i) for i in str(i)])%3==0):
        #if (len(str(i))==2) and (i%5==0) and (((i//10)+(i%10))%3==0):
          l1.append(i)

    if len(l1)>0:
      return max(l1)
    else:
      return -1

#sum(list(map(int, str(i).strip())))%3
#sum([int(i) for i in str(i)])

find_max(5, 67)

60

In [14]:

n=sum([int(i) for i in str(i)])
s="I love You"
print(s.replace(" ", ""))
print([i for i in s])
print(list(s))
print(s.split(" "))
print(" ".join(s.split(" ")))

IloveYou
['I', ' ', 'l', 'o', 'v', 'e', ' ', 'Y', 'o', 'u']
['I', ' ', 'l', 'o', 'v', 'e', ' ', 'Y', 'o', 'u']
['I', 'love', 'You']
I love You