<a href="https://colab.research.google.com/github/roop01/python-programming-practices/blob/main/04_python_coding_problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Coding Problems 4**

**Problem 1**

The number, 197, is called a circular prime because all rotations of the digits: 197, 971, and 719, are themselves prime. There are thirteen such primes below 100: 2, 3, 5, 7, 11, 13, 17, 31, 37, 71, 73, 79, and 97.

Write a python program to find and display the number of circular primes less than the given limit.

In [ ]:
def rotations(num):
    s= str(num)
    lst=[int(s[i:]+s[:i]) for i in range(len(s))]
    return lst

def check_prime(num):
    if num<2:
        return False

    for i in range(2,(num//2)+1):
        if num%i==0:
            return False

    return True

def circular_prime(num):
    prime=[]
    for i in range(2,num+1):
        Flag=False
        l=rotations(i)
        count=0
        for j in l:
          if check_prime(j):
            count+=1
        if count==len(l):
            prime.append(i)

    return prime

print(circular_prime(100))

[2, 3, 5, 7, 11, 13, 17, 31, 37, 71, 73, 79, 97]

**Problem 2:**

Find items whose price is more than 200.

In [ ]:
def new_dict(price):
    new_dict={}
    for i,j in price.items():
        if j > 200:
          new_dict[i]=j
    return new_dict
d={'MANGO': 150.45,'POMOGRANATE': 250.67, 'BANANA': 20.55,'CHERRY': 500.10,'ORANGE': 200.75}
print(new_dict(d))

{'POMOGRANATE': 250.67, 'CHERRY': 500.1, 'ORANGE': 200.75}

**Problem 3**

Write code to find all twin prime number below 20. Twin prime number where difference between adjacent prime numbers is 2.

example: 3:5,5:7,11:13,17:19

In [ ]:
num = 20

if num < 0:
  print(0)

if num < 3:
  print("False")

Flag=None
prime=[]

for i in range(2, (num+1)):
  for j in range(2, i):
    if (i % j) == 0:
      Flag=False
      break
    else:
      Flag=True
  if Flag:
      prime.append(i)
print(prime)

s=""
for i in prime:
  if (i+2) in prime:
    s+=str(i)+":"+str(i+2)+","

print(s[:-1])

[3, 5, 7, 11, 13, 17, 19]
3:5,5:7,11:13,17:19

In [ ]:

def check_prime(num):
  Flag = None
  for i in range(2,num):
      if num%i==0:
          Flag = False
          break
      else:
          Flag = True
  return Flag

num=20
prime=[]
for i in range(2, num+1):
    if check_prime(i):
        prime.append(i)

print(prime)

[3, 5, 7, 11, 13, 17, 19]

**Problem 4**

Perform String Validation

In [52]:
str1= 'rkpesh#@' #'temperature'   #'rkpesh' ''
str2=  'mdn'
str3= 'rmde#@' #'exAmpLe' #'rxdy'  #'rdme#@'   #'rmde#@'


Valid=False
count=0

for i in str3:
  if (str3.count(i) <= str1.count(i)+str2.count(i)):
    count+=1

if count==len(str3):
  Valid=True

s_index=[]
if Valid==True:
    for i in str3:
        if (i in str1) and (i in str2):
            s_index.append(max(str1.rindex(i),str2.rindex(i)))
        elif (i in str1):
            s_index.append(str1.rindex(i))
        elif (i in str2):
            s_index.append(str2.rindex(i))
        else:
            Valid=False

if Valid==True:
  if len(str3)==len(s_index) and s_index == sorted(s_index):
    print("1")
  else:
    print("0")
else:
  print("0")

1

**Problem 5**

Use of rsplit()

In [ ]:
st='Happy Christmas and Happy new year'
if(st.startswith('Happy')):
    x=st.rsplit('Happy')
print(x)
print(len(x))

['', ' Christmas and ', ' new year']
3

**Problem 6**

Use Luhn algorithm to validate a credit card number.
A credit card number has 16 digits, the last digit being the check digit. A credit card number can be validated using Luhn algorithm as follows:

**Step 1a**: From the second last digit (inclusive), double the value of every second digit.

Suppose the credit card number is 1456734512345698.

Take the double of 9,5,3,1,4,7,5 and 1
i.e., 18, 10, 6, 2, 8, 14, 10 and 2

Note: If any number is greater than 9, then sum the digits of that number.
i.e., 9, 1, 6, 2, 8, 5 ,1 and 2

**Step 1b**: Sum the numbers obtained in Step 1a.

i.e., 34

**Step 2**: Sum the remaining digits in the credit card and add it with the sum from Step 1b.

i.e., 34 + (8+6+4+2+5+3+6+4) = 72

**Step 3**: If the total is divisible by 10 then the number is valid else it is not valid.

Write a function, validate_credit_card_number(), which accepts a 16 digit credit card number and returns true if it is valid as per Luhnâ€™s algorithm or false, if it is invalid.

In [ ]:
cc = 5239512608615007 #4539869650133101  #1456734512345698 # #5239512608615007

cc_str=str(cc)

sum1=0
sum2=0

for i in range(0,len(cc_str)):
  if i%2==0:
    n = int(cc_str[i])*2
    if n>9:
      s=0
      s=sum(int(k) for k in str(n))
      sum1+=s
    else:
      sum1+=n
  else:
    sum2+=int(cc_str[i])

if (sum1+sum2)%10==0:
  print("Credit Card Number Valid")
else:
  print("Credit Card Number invalid")

Credit Card Number Valid

**Problem 7**

Write a python program to validate the details provided by a user as part of registering to a web application.

Write a function validate_name(name) to validate the user name

    Name should not be empty, name should not exceed 15 characters
    Name should contain only alphabets

Write a function validate_phone_no(phoneno) to validate the phone number

    Phone number should have 10 digits
    Phone number should not have any characters or special characters
    All the digits of the phone number should not be same.
    Example: 9999999999 is not a valid phone number

Write a function validate_email_id(email_id) to validate email Id

    It should contain one '@' character and '.com'
    '.com' should be present at the end of the email id.
    Domain name should be either 'gmail', 'yahoo' or 'hotmail'

Note: Consider the format of email id to be username@domain_name.com

All the functions should return true if the corresponding value is valid. Otherwise, it should return false.

Write a function validate_all(name,phone_no,email_id) which should invoke appropriate functions to validate the arguments passed to it and display appropriate message. Refer the comments provided in the code.

Note: You may use str.isalpha(), str.isdigit() methods to check whether a string contains alphabets or digits alone.

In [ ]:
def check_name(name):
  if len(name) == 0 or len(name) >15 or (not name.isalpha()):
    return False
  else:
    return True

def check_phone(ph_num):
    if len(ph_num)==10 and ph_num.isdigit() and (ph_num.count(ph_num[0])!=10):
      return True
    else:
      return False

def check_email(email):
    if email.count('@')==1 and email.count('.com')==1 and email[-4:]=='.com' and email.count(".")==1:
      if email[(email.index('@')+1):-4].lower() in ['gmail', 'yahoo', 'hotmail']:
        return True
      else:
        return False
    else:
      return False

def validate_all(name,phone_no,email_id):
    if(not check_name(name)):
        print("Invalid Name")
    elif(not check_phone(phone_no)):
        print("Invalid phone number")
    elif(not check_email(email_id)):
        print("Invalid email id")
    else:
        print("All the details are valid")

validate_all("Tina", "9994599399", "tina@yahoo.com")

All the details are valid

**Problem 8**

Write a python program to help an airport manager to generate few statistics based on the ticket details available for a day.

1. This function finds and returns the number of passengers travelling in the specified airline.

2. Write the logic to find and return the number of passengers traveling to the specified destination

3. Write the logic to find and return a list having number of passengers traveling per flight based on the details in the ticket_list.

    In the list, details should be provided in the format:
    
    [flight_no:no_of_passengers, flight_no:no_of_passengers, etc.]

4. Write the logic to sort the list returned from find_passengers_per_flight() function in the descending order of number of passengers

In [37]:
ticket_list=["AI567:MUM:LON:014","AI077:MUM:LON:056", "BA896:MUM:LON:067", "SI267:MUM:SIN:145","AI077:MUM:CAN:060","SI267:BLR:MUM:148","AI567:CHE:SIN:015","AI077:MUM:SIN:050","AI077:MUM:LON:051","SI267:MUM:SIN:146"]


#"flight_no:source:destination:ticket_no"

def find_pass(airline_name):
    count=0
    for i in ticket_list:
      j=i.split(':')[0]
      if j[:2].lower()==airline_name.lower():
        count+=1
    return count

def find_dest(dest):
  count=0
  for i in ticket_list:
    j=i.split(':')[2]
    if j==dest:
      count+=1
  return count

#[flight_no:no_of_passengers, flight_no:no_of_passengers, etc.]

def pass_per_flt():
  flight_set=[]
  no_pass=[]
  for i in ticket_list:
    j=i.split(':')
    flight_set.append(j[0])

  flights = []
  flights=list(set(flight_set))

  p_f=[]
  for f in flights:
    f_cnt=flight_set.count(f)
    p_f.append(f + ":" + str(f_cnt))

  return p_f

def sort_pss():

  l=pass_per_flt()
  l.sort(key=lambda x:x.split(":")[1],reverse =True)
  return l
  '''
  d_s={}
  for i in l:
    j = i.split(':')
    d_s[j[0]]=j[1]
  print(d_s)
  d=dict(sorted(d_s.items(), key=lambda x:x[1], reverse=True))

  sorted_list=[]
  for j,k in d.items():
      sorted_list.append(j + ":" + str(k))

  return sorted_list'''

print(find_pass("AI"))
print(find_dest("LON"))
print(sort_pss())

6
4
['AI077:4', 'SI267:3', 'AI567:2', 'BA896:1']

**Problem 9**

Sorting Lists and Dictionary

In [25]:
dict_1={'AI077': '4', 'BA896': '1', 'SI267': '3', 'AI567': '2'}
list_1=['AI077:4', 'BA896:1', 'SI267:3', 'AI567:2']
people = [("Alice", 25), ("Bob", 30), ("Charlie", 22), ("David", 28)]

k_seq = ('foo', 'bar', 'baz')
v_seq = (0, 1, 42)
ordered_map = dict(zip(k_seq, v_seq))
print(ordered_map)

list_1.sort(key=lambda x:x.split(':')[1], reverse =True)
print(list_1)

people.sort(key=lambda x: x[1], reverse=True)
print(people)

dict_2= sorted(dict_1.items(), key=lambda x:x[1],  reverse=True)
print(dict_2)

s = "geekforgeeks"
print("".join(sorted(s, reverse=True)))

{'foo': 0, 'bar': 1, 'baz': 42}
['AI077:4', 'SI267:3', 'AI567:2', 'BA896:1']
[('Bob', 30), ('David', 28), ('Alice', 25), ('Charlie', 22)]
[('AI077', '4'), ('SI267', '3'), ('AI567', '2'), ('BA896', '1')]
srokkggfeeee

**Problem 10**

List method remove

In [53]:
list1 = [1, 2, 3, 4, 1, 1, 1, 4, 5]
while(list1.count(1)):
  list1.remove(1)
print(list1)

mylist = [1, 2, 3, 2, 2]

while 2 in mylist:
    mylist.remove(2)

print(mylist)

list2 = [1, 2, 3, 4, 1, 1, 1, 4, 5]
print([i for i in list2 if i!=1])

if 4 in list2:
    list2.remove(4)

numbers = [1, 2, 5, 3, 4, 5]
numbers = list(filter(lambda x: x != 5, numbers))
print(numbers)

X = ['sf', 'cc', 'ch', 'sc', 'sh', 'ch']
if 'ch' in X:
    X.reverse()
    X.remove('ch')
    X.reverse()
print(X)

[2, 3, 4, 4, 5]
[1, 3]
[2, 3, 4, 4, 5]
[1, 2, 3, 4]
['sf', 'cc', 'ch', 'sc', 'sh']