<a href="https://colab.research.google.com/github/roop01/python-programming-practices/blob/main/python_string_excercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
minimum = min("programming")
print(minimum)

a

In [ ]:
maximum = max("python")
print(maximum)

y

In [ ]:
a = 7
a1 = 0
a2 = 0
a1 += 1
a2 -= 1

if a1 == a2:
    print("Success")
else:
    print("Failure")

Failure

In [ ]:
l = {'a1':"1", 'a2': "2", 'a3':"3"}
for x,y in l:
    print(x[0], y[0], end = " ")

a 1 a 2 a 3

In [ ]:
l = {'a1':"1", 'a2': "2", 'a3':"3"}
for x in l:
    print(x[1], end = " ")

1 2 3

In [ ]:
l = {'a1':"1", 'a2': "2", 'a3':"3"}
for x in l:
    print(x, end = " ")

a1 a2 a3

In [ ]:
l = ["Every", 1, "Can't", "Be", "The", "Best", 1]
print(l[4][2])

e

In [ ]:
value = 6/2*(1+2)
print(value)

9.0

In [ ]:
value = ('1 + 3 * 2')
print(eval(value))

7

In [ ]:
value = 20
value2 = 19

result = int('%d%d' % (value, value2))
print(result)

2019

In [ ]:
value = '20'
value2 = '20'

result = (int(value) + int(value2))
print(result)

40

In [ ]:
char = 'A'
print(ord(char))

65

In [1]:
s1 = 'abc'
s2 = '123'
print(" ".join(s2))

1 2 3

In [ ]:
str1, str2 = "Python", "Python"

print("id of str1 is: ", id(str1))
print("id of str2 is: ", id(str2))

if id(str1) == id(str2):
    print("True")
else:
    print("False")

id of str1 is:  134788936103280
id of str2 is:  134788936103280
True

In [ ]:
val = set()
print(type(val))

<class 'set'>

In [ ]:
lis = [1, 2, 3, 4, 5]
lis2 = [6, 7, 8, 9, 10]

print(lis+lis2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
val = "Python"
print(list(val))


result = ''.join(list(val))
print(result, type(result))

['P', 'y', 't', 'h', 'o', 'n']
Python

In [ ]:
lis = ['Python', 'Programming', 'Rocks']
pos = lis.index("Rocks")
print(pos * 3)

6

In [ ]:
str = "My Name is Rupali"
print(str.split('R'))
print(str.replace(" ",""))
print("-".join(str.replace(" ","")))
print(str.lower())
print(str.find('R'))

['My Name is ', 'upali']
MyNameisRupali
M-y-N-a-m-e-i-s-R-u-p-a-l-i
my name is rupali
11