<a href="https://colab.research.google.com/github/roop01/python-programming-practices/blob/main/python_coding_excercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Exercise:**

  **1.** Given a list of numbers, write a Python function to return the list of prime numbers present in it.
  Example: input:[7,9,11,13,15,20,23] output:[7,11,13,23]

In [ ]:
def find_prime(num):
  prime_list=[]
  for x in num:
    if x >1:
      for i in range(2, x):
        if (x % i) == 0:
          break
      else:
        prime_list.append(x)
  return prime_list

num=[7,9,11,13,15,20,23]
print("Prime numbers:", find_prime(num))

Prime numbers: [7, 11, 13, 23]



**2.** Write a python function find_common_characters(msg1,msg2) to display all the common characters between given two strings. Return -1 if there are no matching characters.

**Note**: Ignore blank spaces if there are any. Perform case sensitive string comparison wherever necessary.

**Example**: msg1="I like Python", msg2="Java is a very popular language" output=lieyon

In [ ]:
def find_common_characters(msg1,msg2):
  char_str=""
  flag=False

  msg1="".join(msg1.split())
  msg2="".join(msg2.split())

  len1 = len(msg1)
  len2 = len(msg2)

  if len1 < len2:
    flag = True

  if flag:
    for i in range(0, len1):
      if msg1[i] in msg2:
        char_str += msg1[i]

  return char_str

msg1="I like Python"
msg2="Java is a very popular language"
print("Common characters:", find_common_characters(msg1,msg2))

Common characters: lieyon




**3.** Write a python function, find_pairs_of_numbers(num_list,n) which accepts a list of positive integers with no repetitions and returns count of pairs of numbers in the list that adds up to n. The function should return 0, if no such pairs are found in the list.

Example:
          
        num_list=[1, 2, 7, 4, 5, 6, 0, 3]
        n=6
        output:3

        num_list= [3, 4, 1, 8, 5, 9, 0, 6]
        n=9
        output:4

In [ ]:
def find_pairs_of_numbers(num_list,n):
  count = 0
  pair_list=[]
  for num in num_list:
    if num > n:
      continue
    if (n - num) in num_list and (num != (n-num)):
      if (num, n-num) not in pair_list and (n-num, num) not in pair_list:
        pair_list.append((num, n-num))
        count += 1
  print("Pair List: ",pair_list)
  return count
num_list=[1, 2, 7, 4, 5, 6, 0, 3]
n=6
print("Pairs of numbers:", find_pairs_of_numbers(num_list,n))
num_list = [3, 4, 1, 8, 5, 9, 0, 6]
n=9
print("Pairs of numbers:", find_pairs_of_numbers(num_list,n))

Pair List:  [(1, 5), (2, 4), (6, 0)]
Pairs of numbers: 3
Pair List:  [(3, 6), (4, 5), (1, 8), (9, 0)]
Pairs of numbers: 4

**4.** The python function, find_average() given below, is written to accept a list of marks and return the average marks. On execution, the program is resulting in an error.

    1: Add code to handle the exception occurring in the code.
    2: Make the necessary correction in the program to remove the error.
    3: Make the following changes in the code, execute, observe the results. Add code to handle the errors occurring in each case.

**Case – 1**: Initialize m_list as ["1",2,3,4]

**Case – 2:** Initialize m_list as given below
    
    mark1="A"
    mark1=int("A")
    m_list=[mark1,2,3,4]

**Case – 3:** Initialize m_list as []. Make the following change in the for loop statement

    for i in range(0, len(mark_list)+1)

In [14]:
#Case 1
def find_average(mark_list):
  total=0
  try:
    for i in range(0, len(mark_list)):
      total += mark_list[i]
    marks_avg = total/len(mark_list)
    return marks_avg
  except ZeroDivisionError:
    print("ZeroDivisionError: List is empty")
  except TypeError:
    print("TypeError: List contains non-numeric values")
  except ValueError:
    print("ValueError: List contains non-numeric values")

try:
  list_m=["1",2,3,4]
  print("Average marks:", find_average(list_m))
except ValueError:
  print("ValueError in Main: List contains non-numeric values")
except TypeError:
  print("TypeError in Main: List contains non-numeric values")

TypeError: List contains non-numeric values
Average marks: None

In [13]:
#Case 2
def find_average(mark_list):
  total=0
  try:
    for i in range(0, len(mark_list)):
      total += mark_list[i]
    marks_avg = total/len(mark_list)
    return marks_avg
  except ZeroDivisionError:
    print("ZeroDivisionError: List is empty")
  except TypeError:
    print("TypeError: List contains non-numeric values")
  except ValueError:
    print("ValueError: List contains non-numeric values")

try:
  mark1="A"
  mark1=int("A")
  m_list=[mark1,2,3,4]
  print("Average marks:", find_average(m_list))
except ValueError:
  print("ValueError in Main: List contains non-numeric values")
except TypeError:
  print("TypeError in Main: List contains non-numeric values")

ValueError in Main: List contains non-numeric values

In [12]:
#Case 3
def find_average(mark_list):
  total=0
  try:
    for i in range(0, len(mark_list)+1):
      total += mark_list[i]
    marks_avg = total/len(mark_list)
    return marks_avg
  except ZeroDivisionError:
    print("ZeroDivisionError: List is empty")
  except TypeError:
    print("TypeError: List contains non-numeric values")
  except ValueError:
    print("ValueError: List contains non-numeric values")
  except IndexError:
    print("IndexError: List is empty")

try:
  m_list=[]
  print("Average marks:", find_average(m_list))
except ValueError:
  print("ValueError in Main: List contains non-numeric values")
except TypeError:
  print("TypeError in Main: List contains non-numeric values")
except IndexError:
  print("IndexError in Main: List is empty")

IndexError: List is empty
Average marks: None

**5.** Write a program to purchase a mobile and shoe. Offer discount on mobile depending upon type of brand. Apply tax on show based on leather or non leather type. Also provide return of the product with money refund.

In [15]:
total_price_mobile = 0
total_price_shoe = 0
def purchase_mobile(price,brand):
    global total_price_mobile
    if brand == "Apple":
        discount = 10
    else:
        discount = 5
    total_price_mobile = price - price * discount / 100
    print("Total price for Mobile is "+str(total_price_mobile))
def purchase_shoe(price,material):
    global total_price_shoe
    if material == "leather":
        tax = 5
    else:
        tax = 2
    total_price_shoe = price + price * tax / 100
    print("Total price for Shoe is "+str(total_price_shoe))
def return_mobile():
    print("Refund price for Mobile is ",total_price_mobile)
def return_shoe():
    print("Refund price for Shoe is ",total_price_shoe)
purchase_mobile(20000,"Apple")
purchase_shoe(500,"leather")
return_mobile()

Total price for Mobile is 18000.0
Total price for Shoe is 525.0
Refund price for Mobile is  18000.0